
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#user-details

	table
		tbody
			tr
				td 
					h5 Your blog categories: &nbsp;
					each tag in user.tags
						td #{tag}
				td
					br
					br
			tr
				td 
					h4 Your blog posts &nbsp;
					each blogpost in user.blogposts
						tr
							td 
								a #[a(href=`/blogPost/${blogpost._id}`) #{blogpost.title}]
		tr
					td 
					h1 About you
				tr
					td Name: &nbsp;
						td #{user.name}
					td
						br
						br
				tr
					td Location: &nbsp;
						td #{user.country}
					td
						br
						br
				tr
					td Image:
						td
							img(src="http://"+imagePath alt="No Image Available" height="20%" width="20%")
					td
						br
						br
			tr
				td Email: &nbsp;
				td #{user.email}
